<div class="container">

    <div class="topbar">
        <div class="row">
            <div class="col-md-12">


                <p>We provide high quality and cost effective services</p>
                <div class="navbar-nav ml-auto">
                    <ul id="nav">
                        <li><a href="https://www.facebook.com/" class="fa fa-facebook"><img src="/assets/fb.svg"
                                    alt="fb img" width="15" height="15"></a></li>
                        <li><a href="https://twitter.com/" class="fa fa-twitter"><img src="/assets/twitter.png"
                                    alt="twitter img" width="15" height="15"></a></li>
                        <li><a href="https://www.linkedin.com/" class="fa fa-lin"><img src="/assets/lin.png"
                                    alt="lin img" width="15" height="15"></a></li>
                        <li><a href="https://plus.google.com/" class="fa fa-gplus"><img src="/assets/gplus.svg"
                                    alt="gplus img" width="15" height="15"></a></li>

                    </ul>
                </div>

            </div>
        </div>

    </div>

</div>